In [37]:
%load_ext autoreload
%autoreload 2

from tabula import read_pdf

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
df = read_pdf('../sample-data/B1705_2000560947.pdf')

In [40]:
df[:40]

,Unnamed: 0,Unnamed: 1,lab-adelaide@idexx.com lab-sydney@idexx.com
0,NaN,NaN,lab-brisbane@idexx.com lab-melbourne@idexx.com
1,NaN,NaN,www.idexx.com.au
2,NaN,NaN,ABN 31 063 154 352
3,Veterinarian:PEDERSON,Clinic No:B1705,Lab Number: 2000560947
4,Clinic:Critical Care Research Group,Owner: CCRG,Species:OVINE Breed:OVCRO
5,"Queensland University of Technology, The",Animal ID: 1635,Case ID:C1595073
6,Chermside 4032,Unique ID: N/A,Sex:Female Age:1Y
7,Collected:15/01/2018 Received:15/01/2018,Chip ID: N/A,Reported: 15/01/2018
8,NaN,**FULL REPORT**,NaN
9,HAEMATOLOGY,Reference,NaN
10,NaN,Range,NaN
11,RBC 10.9 x10^12/L,(9.0 - 15.0),NaN
12,HAEMOGLOBIN 129 g/L,(90 - 150),NaN
13,HAEMATOCRIT 0.40 L/L,(0.27 - 0.45),NaN
14,MCV 37 fL,(28 - 40),NaN
15,MCH 12 pg,(8 - 12),NaN
16,MCHC 323 g/L,(310 - 340),NaN
17,PLATELETS Normal,NaN,NaN
18,PLATELET COUNT 363 x10^9/L,(250 - 750),NaN
19,WBC 8.9 x10^9/L,(4.0 - 12.0),NaN
20,NEUTROPHILS% 47 %,NaN,NaN
21,NEUTROPHILS 4.2 x10^9/L,(0.7 - 6.0),NaN
22,LYMPHOCYTES% 48 %,NaN,NaN
23,LYMPHOCYTES 4.3 x10^9/L,(2.0 - 9.0),NaN
24,MONOCYTES% 5 %,NaN,NaN
25,MONOCYTES 0.4 x10^9/L,(<=0.8),NaN
26,EOSINOPHILS% 0 %,NaN,NaN
27,EOSINOPHILS 0.0 x10^9/L,(<=1.0),NaN
28,BASOPHILS% 0 %,NaN,NaN
29,BASOPHILS 0.0 x10^9/L,(<=0.3),NaN
30,PROTEIN PLASMA 69 L g/L,(70 - 84),NaN
31,FIBRINOGEN 1.0 g/L,(1.0 - 5.0),NaN
32,DIGITAL IMAGES Now showing at IDEXX. Simply lo...,NaN,NaN
33,"Images available for all Histology, Cytology a...",NaN,NaN
34,Laboratory Locations,Page 1 of 1,NaN
35,ADELAIDE: BRISBANE: MELBOURNE: SYDNEY:,NaN,NaN
36,"117 Greenhill Rd 3 Overend Street Unit 124, 45...",NaN,NaN
37,Unley SA 5061 East Brisbane QLD 4169 Mt Waverl...,NaN,NaN
38,PO Box 445 PO Box 1119 Locked Bag 15 PO Box 7127,NaN,NaN
39,Glenside SA 5065 Coorparoo DC QLD 4151 Mt Wave...,NaN,NaN