In [73]:
import tabula, pandas

# Read pdf into DataFrame
# df = tabula.read_pdf("test.pdf", options)

from tabula import wrapper
df = wrapper.read_pdf('../sample-data/B1705_2000560947.pdf', output_format='dataframe', guess=False)
#df = tabula.read_pdf('../sample-data/B1705_2000560947.pdf', output_format='dataframe', guess=False)

In [43]:
#df = read_pdf('../sample-data/B1705_2000560947.pdf', output_format='dataframe', guess=False)
# top left bottom right

In [74]:
df

,Unnamed: 0,Unnamed: 1,lab-adelaide@idexx.com lab-sydney@idexx.com
0,NaN,NaN,lab-brisbane@idexx.com lab-melbourne@idexx.com
1,NaN,NaN,www.idexx.com.au
2,NaN,NaN,ABN 31 063 154 352
3,Veterinarian:PEDERSON,Clinic No:B1705,Lab Number: 2000560947
4,Clinic:Critical Care Research Group,Owner: CCRG,Species:OVINE Breed:OVCRO
5,"Queensland University of Technology, The",Animal ID: 1635,Case ID:C1595073
6,Chermside 4032,Unique ID: N/A,Sex:Female Age:1Y
7,Collected:15/01/2018 Received:15/01/2018,Chip ID: N/A,Reported: 15/01/2018
8,NaN,**FULL REPORT**,NaN
9,HAEMATOLOGY,Reference,NaN
10,NaN,Range,NaN
11,RBC 10.9 x10^12/L,(9.0 - 15.0),NaN
12,HAEMOGLOBIN 129 g/L,(90 - 150),NaN
13,HAEMATOCRIT 0.40 L/L,(0.27 - 0.45),NaN
14,MCV 37 fL,(28 - 40),NaN
15,MCH 12 pg,(8 - 12),NaN
16,MCHC 323 g/L,(310 - 340),NaN
17,PLATELETS Normal,NaN,NaN
18,PLATELET COUNT 363 x10^9/L,(250 - 750),NaN
19,WBC 8.9 x10^9/L,(4.0 - 12.0),NaN
20,NEUTROPHILS% 47 %,NaN,NaN
21,NEUTROPHILS 4.2 x10^9/L,(0.7 - 6.0),NaN
22,LYMPHOCYTES% 48 %,NaN,NaN
23,LYMPHOCYTES 4.3 x10^9/L,(2.0 - 9.0),NaN
24,MONOCYTES% 5 %,NaN,NaN
25,MONOCYTES 0.4 x10^9/L,(<=0.8),NaN
26,EOSINOPHILS% 0 %,NaN,NaN
27,EOSINOPHILS 0.0 x10^9/L,(<=1.0),NaN
28,BASOPHILS% 0 %,NaN,NaN
29,BASOPHILS 0.0 x10^9/L,(<=0.3),NaN
30,PROTEIN PLASMA 69 L g/L,(70 - 84),NaN
31,FIBRINOGEN 1.0 g/L,(1.0 - 5.0),NaN
32,PLASMA APPEARANCE Normal,NaN,NaN
33,BLOOD SMEAR Occasional activated lymphocytes,NaN,NaN
34,EXAMINATION Red cell morphology normal.,NaN,NaN
35,"Dr Neill Sullivan BVSc, MVSc, PhD, FACVSc, Dip...",NaN,NaN
36,"Veterinary Pathologist, Registered Specialist",NaN,NaN
37,Direct Tel: (07) 3456 6036,NaN,NaN
38,If you require further assistance regarding th...,NaN,NaN
39,IDEXX Laboratories is accredited for complianc...,NaN,NaN
40,Veterinary Testing.,NaN,NaN
41,For tests indicated by a hash (#) NATA accredi...,NaN,NaN
42,DIGITAL IMAGES Now showing at IDEXX. Simply lo...,NaN,NaN
43,"Images available for all Histology, Cytology a...",NaN,NaN
44,Laboratory Locations,NaN,Page 1 of 1
45,ADELAIDE: BRISBANE:,MELBOURNE:,SYDNEY:
46,117 Greenhill Rd 3 Overend Street,"Unit 124, 45 Gilby Rd","Unit 6, 38-46 South St"
47,Unley SA 5061 East Brisbane QLD 4169,Mt Waverley VIC 3149,Rydalmere NSW 2116
48,PO Box 445 PO Box 1119,Locked Bag 15,PO Box 7127
49,Glenside SA 5065 Coorparoo DC QLD 4151,Mt Waverley VIC 3149,Rydalmere NSW 2116
50,lab-adelaide@idexx.com lab-brisbane@idexx.com,lab-melbourne@idexx.com,lab-sydney@idexx.com
51,Lab Enquiries : Phone 1300 44 33 99 FAX 1300 7...,NaN,NaN

In [214]:
list(df)
RBC_Value= df['Unnamed: 0'][df['Unnamed: 0'].str.contains("RBC").__eq__(True)]
#print(RBC_Value)

Fibrinogen_Value= df['Unnamed: 0'][df['Unnamed: 0'].str.contains("FIBRINOGEN").__eq__(True)]
#print(Fibrinogen_Value)

#Protein_Value= df['Unnamed: 0'][df['Unnamed: 0'].str.contains("PROTEIN").__eq__(True)]
#print(Protein_Value)

#getting rows from start to finish
test= df['Unnamed: 0'].str.split(' ', expand=True)[1][11:32]
#print(test)
test2 = df['Unnamed: 0'].str.split(' ', expand=True)[2][18]

test3 = df['Unnamed: 0'].str.split(' ', expand=True)[3][30]
#print(test3)

platelet_appearance = df['Unnamed: 0'].str.split(' ', expand=True)[1][17]
plasma_appearance = df['Unnamed: 0'].str.split(' ', expand=True)[2][32]


# Remove rows with alphabetic characters
test=test[~test.str.contains("[a-zA-Z]").fillna(False)]
#print(test)
columns = ['RBC', 'HAEMOGLOBIN', 'HAEMATOCRIT', 'MCV', 'MCH',            
'MCHC',
'PLATELET COUNT',
'WBC',
'NEUTROPHILS%',
'NEUTROPHILS',
'LYMPHOCYTES%',
'LYMPHOCYTES',
'MONOCYTES%',
'MONOCYTES',
'EOSINOPHILS%',
'EOSINOPHILS',
'BASOPHILS%',
'BASOPHILS',
'PROTEIN PLASMA',
'FIBRINOGEN',
'PLASMA APPEARANCE',
'BLOOD SMEAR EXAMINATION']

index = ""
values = test
             

values["RBC"] = test[11]
values["HAEMOGLOBIN"] = test[12]
values["HAEMATOCRIT"] =test[13]
values["MCV"] = test[14]
values["MCH"] = test[15]
values["MCHC"] = test[16]
values["PLATELET APPEARANCE"] = platelet_appearance
values["PLATELET COUNT"] = test2
values["WBC"] = test[19]
values["NEUTROPHILS%"] = test[20]
values["NEUTROPHILS"] = test[21]
values["LYMPHOCYTES%"] = test[22]
values['LYMPHOCYTES'] = test[23]
values["MONOCYTES%"] = test[24]
values["MONOCYTES"] = test[25]
values["EOSINOPHILS%"] = test[26]
values["EOSINOPHILS"]  = test[27]
values["BASOPHILS%"] = test[28]
values["BASOPHILS"] = test[29]
values["PROTEIN PLASMA"] = test3
values["FIBRINOGEN"] = test[31]
values["PLASMA APPEARANCE"] = plasma_appearance

#values["BLOOD SMEAR EXAMINATION"] = test[32]

def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

def find_between_r( s, first, last ):
    try:
        start = s.rindex( first ) + len( first )
        end = s.rindex( last, start )
        return s[start:end]
    except ValueError:
        return ""


blood_smear_examination = df['Unnamed: 0'][33:35]
blood_smear_examination = blood_smear_examination.str.replace('BLOOD SMEAR', '')
blood_smear_examination = blood_smear_examination.str.replace('EXAMINATION', '')
blood_smear_examination= blood_smear_examination.str.cat(sep=',')
values["BLOOD SMEAR EXAMINATION"] = blood_smear_examination

#df.drop([0, 1])

#values = values.drop(values[0])

#df.drop([0, 1])



print(values[1:19])


values = values[19:]
#values= values.drop([0, 10])


#values.index(11, 12)
#values[11,13]
#values.drop([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])
#print(values)
#list(values)

12     129
13    0.40
14      37
15      12
16     323
19     8.9
20      47
21     4.2
22      48
23     4.3
24       5
25     0.4
26       0
27     0.0
28       0
29     0.0
30
31     1.0
Name: 1, dtype: object

12     129
13    0.40
14      37
15      12
16     323
19     8.9
20      47
21     4.2
22      48
23     4.3
24       5
25     0.4
26       0
27     0.0
28       0
29     0.0
30
31     1.0
Name: 1, dtype: object

In [112]:
print(test3)

69

In [143]:
#print(blood_smear_examination)
print(testing)

 Occasional activated lymphocytes, Red cell morphology normal.